* {
  margin: 0;
  padding: 0;
  // color: #ccc;
}

a {
  text-decoration: none;
  color: #fff;

  &:hover {
    color: rgb(95, 205, 248);
  }
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  // width: 30px;
  // height: 50px;
}

body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffe5cc+0,b2f497+17,e2d69c+35,5edce0+50,bbe298+69,f9eaf7+86,91e2a2+100 */
  // background: rgb(255,229,204); /* Old browsers */
  // background: -moz-linear-gradient(-45deg,  rgba(255,229,204,1) 0%, rgba(178,244,151,1) 17%, rgba(226,214,156,1) 35%, rgba(94,220,224,1) 50%, rgba(187,226,152,1) 69%, rgba(249,234,247,1) 86%, rgba(145,226,162,1) 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(-45deg,  rgba(255,229,204,1) 0%,rgba(178,244,151,1) 17%,rgba(226,214,156,1) 35%,rgba(94,220,224,1) 50%,rgba(187,226,152,1) 69%,rgba(249,234,247,1) 86%,rgba(145,226,162,1) 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(135deg,  rgba(255,229,204,1) 0%,rgba(178,244,151,1) 17%,rgba(226,214,156,1) 35%,rgba(94,220,224,1) 50%,rgba(187,226,152,1) 69%,rgba(249,234,247,1) 86%,rgba(145,226,162,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe5cc', endColorstr='#91e2a2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  // background-size: 150% 150%;

  // height: 2000px;
  -webkit-touch-callout: none; /*系统默认菜单被禁用*/
  -webkit-user-select: none; /*webkit浏览器*/
  -khtml-user-select: none; /*早期浏览器*/
  -moz-user-select: none; /*火狐*/
  -ms-user-select: none; /*IE10*/
  user-select: none; /*用户是否能够选中文本*/
  background-image: url(../img/background8.jpeg);
  background-attachment: fixed;
  // background-size: 100% 100%;
  // overflow: hidden;
  // &::-webkit-scrollbar {
  // display: none;
  // }
}

#app {
  position: relative;

  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // margin: auto;
  width: 1200px;
  // height: 830px;
  // margin-left: 350px;
  border-radius: 20px;
  cursor: default;
  color: rgba(250, 250, 250, 0.836);
  font-weight: 600;
  // background: rgba(112, 112, 112, 0.041);
  // background: rgba(93, 150, 140, 0.11);
  overflow: hidden;
  cursor: default;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
// span,
// i {
//   font-size: 13px;
// }
// .flexBetween {
//   display: flex;
//   justify-content: space-between;
// }

// .hoverBackColor {
//   // transition: .2s;
//   // &:hover{
//   //   background-color: rgba(101, 179, 179, 0.493);
//   // }
// }

.inline-block {
  display: inline-block;
}
.clearfix::before,
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
